body {
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
}

section {
  @include padding;
}

.grid {
  @include grid;

  &-left {
    @include grid(left)
  }
  &-right {
    @include grid(right)
  }
}

.container, .container-text {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @include desktop {
    display: grid;
    width: 100%;
  }
}

@include desktop {
  .container {
    max-width: 1120px;

    &-text {
      max-width: 680px;
    }

    &-img {
      margin: 56px auto;
      
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
  }

  @each $name in '1' '2' '3' '4' '5' '6' '7'
  '8' '9' '10' '11' '12' {
    .col-#{$name} {
      grid-column: span #{$name};
    }
  }
}

.center {
  @include center;
}

.v-center {
  align-items: center;
}
