@include mobile {
  section {
    padding: 24px 0;
  }

  .title {
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
    padding: 8px 0;
  }

  p, button {
    font-size: 16px !important;
  }

  .lead {
    font-size: 20px !important;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 24px;
  }

  .focus {
    padding: 8px 0;
  }

  .job-title {
    margin-top: 16px;
  }

  .card {
    margin-top: 40px;
  }

  .quote {
    .lead {
      padding-bottom: 24px;
    }
  }

  .chat {
    img {
    max-width: 48px;
    }
    p {
      font-size: 14px !important;
      margin-left: 16px !important;
    }
  }

  button {
    margin: 24px 0;
  }

  .footer {
    img {
    max-width: 24px !important;
    max-height: 20px !important;
    margin: 16px 4px !important;
  }

  p {
    font-size: 14px !important;
    margin-bottom: 16px;
  }
}

}
