// Cards

.card {
  .job-tile {
    @include shad;
    transition: all 1s cubic-bezier(0.2, 0.8, 0.2, 1);




    &:hover {
    transition: all 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    }



    @include desktop {
      margin: 24px 0;
    }
  }

  .focus {
    padding: 16px 0;
  }


}
