// footer

footer {
  .footer {
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      max-width: 32px;
      max-height: 24px;
      margin: 0px 4px;

      @include desktop {
        margin: 40px 4px;
      }
    }

    .small-talk {
      p {
      font-size: 16px;
    }
  }

  }

  a[href*="//"]:not([href*="mysite.com"]):after {
    display: none;
  }
}
