// Typography

body, button {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$black;
}

h1, h2, h3, h4, h5 {

  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  text-shadow: #fff 0px 1px 1px;

  font-weight: 700;
}

h1 {
  font-size: 6.87em;
  line-height: 1.4;
  padding: 24px 0;
  font-weight: 700;

}

.display-1 {
  font-size: 8.58em;
}

.display-2 {
  font-size: 8.58em;
}

h2 {
  font-size: 5.49em;
  line-height: 1.4;
  margin-bottom: 32px;
}

h3 {
  font-size: 2.81em;
  line-height: 1.4;

}

h4 {
  font-size: 3.52em;
  line-height: 1.5;
  font-weight: 700;
}

p, ul, li {
  font-size: 1.8em;
  line-height: 1.8;
  font-weight: 400;
}

.lead {
  font-size: 2.25em;
}

.small {
font-size: 1.44em;
}

.title {
color: $grey;
}


a {
  text-shadow: none;
  -webkit-text-stroke: 0;
}

@include desktop {
  .text-center {
    text-align: center;
  }
}

ul {
  li {
    font-weight: 500;
  }
}

strong {
  font-weight: 500;
}

::selection {
  background: lighten($blue, 5%);
  color: $white; /* WebKit/Blink Browsers */

  text-shadow: lighten($blue, 5%) 0px 1px 1px;
}

.container-text {

  h2:not(:first-child) {
    margin-top: 1em;
  }
  p {
    margin-bottom: 2em;
  }


}

figcaption {
  color: lighten($black, 30%);
  font-weight: 400;

}
