
<footer>
<div class="container">
	<div class="footer">
		<div class="social"><a href="https://www.linkedin.com/in/j0hnegan" target="_blank">
			<img target="_blank" class="wow fadeInUp" src="../assets/img/linkedin.svg" alt=""></a>
			<a href="https://github.com/j0hnegan" target="_blank"><img class="wow fadeInUp" data-wow-delay=".2s" target="_blank" src="../assets/img/github.svg" alt=""></a>
			<a href="https://angel.co/j0hnegan" target="_blank"><img class="wow fadeInUp" data-wow-delay=".4s" target="_blank" src="../assets/img/angellist.svg" alt=""></a>
			<a href="https://instagram.com/j0hnegan" target="_blank"><img class="wow fadeInUp" data-wow-delay=".6s" target="_blank" src="../assets/img/instagram.svg" alt=""></a>
		</div>
		<div class="small-talk">
			<p class="wow fadeInUp" data-wow-delay=".8s">© 2019 Designed and Developed by Me</p>
		</div>

	</div>

</div>
</footer>

</body>
</html>
